<h3>Countdown till next birthday!</h3>
<p>Welcome to the birthday counter for <%= @owner.name %>.</p>
<p>I was born on the year of our Lord: <%= @owner.birthdate %></p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>

