<% content_for :title do %>About<% end %>
<h3>About me</h3>
<p>
  I was born in Hong Kong, UK. I left HK when I was a young child at the age of 3 and moved
  to a town in upper state New York named, Jamestown.
</p>
<p>
  When I was about 12 or 13 I moved to Boston MA, where I still live and reside.
  I live with my wife Klaudia and son Jacob and we live with two dogs, Whitey and Shaggy
  and two cats, Bunna Boo and Stormy. We also have a Chinchilla, named Chiny Chin.
</p>

<p>
  I also love the Lord and am a disciple of Jesus Christ. His teachings have taught me
  how to live a life that the Lord intended us to live, one of compassion for my fellow
  man and one that commands me to destroy the works of the enemy whenever I encounter them.
  I believe that the word of God to be true, and the Holy Bible to be our &lquote;guide&rquote;.
  We believe that every word is true and not twisted to suit our agenda's.
</p>


